.navbar {
  flex: 0.2;
  background-color: var(--background-navbar);

  .container {
    position: fixed;
    left: 0;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    width: 20%;
    background-color: var(--background-navbar);

    .header {
      background-color: var(--background-navbar);
      display: flex;
      padding: 20px;
      align-items: center;
      width: 100%;

      .name {
        margin: 0 0 0 15px;
        margin-bottom: 0;

        a {
          color: var(--text-navbar);
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    flex: 1;

    .container {
      height: 8vh;
      position: fixed;
      width: 100%;
      z-index: 100;
      background-color: $bg-secondary;
      background-color: var(--background-navbar);
    }
  }
}
