.cryptoDetail {
  margin: 30px;

  @media screen and (max-width: 500px) {
    margin: 0;
  }

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid $border;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;

    p {
      font-size: 1rem;
      opacity: 0.9;
      margin-bottom: 20px;
    }

    &_name {
      font-weight: 900;
      color: $blue;
    }
  }

  .selectPeriod {
    width: 200px;
    margin-top: 20px;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @media screen and (max-width: 1000px) {
      .stats {
        flex-direction: column;
      }
    }

    &_heading {
      p {
        font-size: 1rem;
        opacity: 0.9;
      }
    }
  }

  .title {
    font-weight: 700;
    margin-top: 20px;
    color: $blue;

    > p {
      margin-top: 20px;
    }
  }

  .coin {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border;
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;

    &:hover {
      background-color: $bg-secondary;
    }

    &_name {
      display: flex;
      gap: 10px;
      font-size: 1rem;
    }

    &_value {
      font-weight: 800;
    }
  }

  .infoHeading {
    p {
      font-size: 1rem;
      opacity: 0.9;
    }
  }

  .desc {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    padding-top: 20px;

    h2 {
      font-weight: 700;
      color: $blue;
    }

    @media screen and (max-width: 1000px) {
      flex-direction: column;

      h2 {
        margin-top: 0px;
      }
    }

    p {
      font-size: 1rem;
      opacity: 0.9;
    }

    a {
      color: $blue;
    }

    h3 {
      font-weight: 700;
    }

    &_coin {
      flex: 0.5;
    }

    &_link {
      padding: 0px 20px;
      flex: 0.5;

      @media screen and (max-width: 500px) {
        &-link {
          padding: 0px;
        }
      }
    }
  }

  .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border;
    padding: 20px;

    a {
      color: $blue;
      font-weight: 700;
      font-size: 1rem;

      &:hover {
        background-color: $bg-secondary;
      }
    }

    &_name {
      text-transform: capitalize;
      font-size: 1rem;
    }
  }
}
