.lineChart {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd;

  .title {
    color: #0071bd;
  }

  .price {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;

    .change {
      font-weight: 900;
    }

    .current {
      margin-top: 0px;
      font-weight: 900;
    }
  }
}
