.news {
  .text {
    color: black;
    margin: 10px 0px;
  }

  .select {
    width: 180px;
  }

  .card {
    min-height: 300px;
  }

  .image {
    display: flex;
    justify-content: space-between;

    img {
      width: 30%;
      height: 30%;
    }
  }

  .title {
    width: 65%;
    font-size: 18px;
  }

  .provider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 18.5px;

    &_name {
      margin: 0 10px;
      flex: 1;
    }
  }
}
