.btn {
  background-color: green;

  // size
  &.small {
    width: 2rem;
  }

  &.medium {
    width: 3rem;
  }

  &.large {
    width: 10rem;
  }

  // color
  &.blue {
    background-color: #1890ff;
    color: #fff;

    &:focus {
      background-color: #1890ff;
      color: #fff;
    }
  }
  &.green {
    background-color: green;
    color: #aaa;

    &:focus {
      background-color: green;
      color: #aaa;
    }
  }
}
