.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  .show-more {
    margin-top: 0px;
  }

  @media screen and (max-width: 800px) {
    .title {
      font-size: 1.4rem;
    }

    .show-more {
      font-size: 1.3rem;
    }
  }
}
