.popup {
  .ant-modal-content {
    z-index: 200;
  }

  .ant-modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gif {
    width: 50%;
    height: 50%;
    cursor: pointer;
  }
}
