.cryptocurrencies {
  min-height: 65vh;

  .card {
    min-width: 250px;
    position: relative;

    .image {
      width: 35px;
      height: 35px;
      cursor: pointer;
    }

    .heart {
      position: absolute;
      bottom: 30px;
      right: 30px;
      font-size: 20px;
      z-index: 100;

      &:hover {
        color: red;
      }

      &.active {
        color: red;
      }
    }
  }
}

.search {
  margin: 20px auto 30px auto;
  width: 250px;
}
